body {
    width: 600px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    padding: 10px 10px 10px 30px;
    color:red;
  }
  #tasks-panel {
    margin-top: 10px;
  }
  #tasks {
    padding: 0;
    list-style-type: none;
  }
  #task-title {
    width: 300px;
  }